@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  svg
    g.zelen
      path
        fill-opacity 0.85
      path.park
        fill #238b45
      path.forest
        fill #006d2c
    path.border
      stroke black
      stroke-width 0.5
      fill lighten(black, 98%)
