@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  background transparent
  svg
    g.zelen
      path
        fill-opacity 0.85
      path.park
        fill #78c679
      path.forest
        fill #238443
    path.border
      stroke black
      stroke-width 0.5
      fill lighten(black, 98%)
